@import url(./fonts.css);
@import url(./normalize.css);
@import url(./reset.css);

/* 숨김 콘텐츠 */
.a11y-hidden{
  /* position: absolute; */
  width: 1px;
  height: 1px;
  overflow: hidden;  
  clip-path: polygon(0 0, 0 0, 0 0);
  
}

/* 기본 스타일 */
*, *::before, *::after {       /* 전체 선택자 */
  box-sizing: border-box;  /* width(padding+border) + margin = border-box */

}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;  /* 커서만 남겨놓고 밑줄 같은거 없앰 */
}


/* 본문 스타일 */
body {
  /* 단위) em - 상속받은 값을 기준으로 계산 */
  /* rem-상속을 따지지 않고 루트인 html(루트)에 가서 연산 시작 */
  color: #212121;
  font-size: 1.4rem; 
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: #ccc;
  background-image: url(./images/bg_flower.png),
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%); ;
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0;

  /* 위 내용을 단축 표기법으로 */
  /* background: url(./images/bg_flower.png) no-repeat 50% 0,
  #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%) repeat 0 0, */
}

/* 레이아웃 */
.header, .visual, main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  /* margin은 투명한 영역이라 상자가 이동한게 아니라 커진거임 */
  /* margin 좌우 auto하면 가운데 정렬 */
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  /* 밑에 깔린거를 올리기 위해 다 0 값이니까 0보다 큰 숫자 아무거나 줌 */
  z-index: 10;  
}


/* 텍스트 링크 모음 */
.member {
  /* background-color: aqua; */
  text-align: right;
  padding: 4px 0;
  /* posision 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기 */
  /* position: relative;
  right: -10px; */

  /* transform 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기 */
  transform: translateX(10px);
}

.member li{
  /* background: pink; */
  display: inline-block;
}

.member a{
  /* background-color: coral; */
  padding: 6px 10px;  /* 클릭 시 실수 방지 위해 패딩 줌 */
  display: inherit;
  text-transform: uppercase;
}

/* 마지막 li 요소에 포함된 a 요소를 선택하여 오른쪽 padding 값을 0으로 재정의 하는 방법 */
/* .member li:last-child a{
  padding-right: 0;
} */

.divider{
  margin-right: 4px;
}

/* 메인 메뉴 */
.navigation{
  padding-bottom: 40px;
}

.menu {
  border-top: 2px solid #212121;
  background: #e85e2c
  linear-gradient(
    to bottom,
    #ef9126 0%,
    #e85e2c 35%,
    #e85e2c 70%,
    #ef9126 100%
  );
  border-radius: 0 0 5px 5px;
  padding-left: 230px;
  height: 47px;
  position: relative;
}

.menu > li:nth-child(-n + 3){
  position: relative;
}

.menu-item{
  /* position: relative; */
  float: left;
  border-left: 2px solid #fff;
}

/* 구체성 점수 = 10점 */
.menu-button {
  border: 0;
  background: transparent;
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/* 구체성 점수 = 20점 */
.is-active .menu-button {
  color: #ff0;
}
.is-active .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}

.sub-menu {
  position: absolute;
  top: 47px;
  padding: 4px 0;
  display: none;
}

.sub-menu a::before{
  content: '\e805';
  font-family: 'fontello';
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before, .sub-menu a:focus::before{
  content: '\e801';
}

.sub-menu a:hover, .sub-menu a:focus{
  color: #f00;
}

.sub-menu a{
  display: inline-block;
  padding: 6px 0px;
}


.menu-html, .menu-css, .menu-standards{
  left: 0;
}

.menu-accessibility, .menu-qna, .menu-archive{
  right: 0;
}

.is-active .sub-menu {
  display: block;
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
}


/* 비주얼 */
/* @ - at sign rule 사용할거라고 선언하는거 */
@keyframes moveEffect{
  0%{
    font-size: 12px;
    /* color: rgba(0, 0, 0, 0.2); */
    color: hsla(0, 0%, 0%, 0);
    transform: translate(0, 0);
  }
  100%{
    font-size: 24px;
    /* color: rgba(0, 0, 0, 1); */
    color: hsla(0, 0%, 0%, 1);
    transform: translate(400px, 75px);
  }
}

@keyframes fadeEffect {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
  
}

.visual {
  height: 120px;
  position: relative;
  /* overflow: hidden;  나중에 화면 밖에 장식을 하고 싶을 때 문제 가능성 내포함*/ 
}

.visual::before, .visual::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: #fff; */
  animation: fadeEffect 2s infinite alternate;
  /* animation-iteration-count: infinite;
  animation-direction: alternate; */
}

.visual::before{
  /* background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
  background-repeat: no-repeat;
  background-position: 0 -10px, 600px 0px; */
  background: url(./images/ani_flower_01.png) no-repeat 0 -10px,
  url(./images/ani_flower_02.png) no-repeat  600px 0px;
}


.visual::after{
  background: url(./images/ani_flower_03.png) no-repeat 300px 0px,
  url(./images/ani_flower_04.png) no-repeat  800px 0px;
  animation-delay: 1000ms;
}

.visual-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* animation-name: moveEffect;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; */
  animation: moveEffect 400ms ease-in-out forwards;
  /* display: inline-block; */
  position: relative; /* inline-block 말고 이렇게 해도 됨 */
  z-index: 1;
}

/* 메인 */
.main {
  background: lightgreen;
  height: 50vh;
  display: flow-root;
  /* overflow: hidden; */
  padding: 0 15px;
}


.group{
  margin: 0 15px;
  float: left;
}

.group1{
  background: violet;
  width: 250px;
} 

.group2{
  background: salmon;
  width: 380px;
}

.group3{
  background: gold;
  width: 190px;
}

/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
  /* clear: both;
  margin-top: 10px; */
}
/* 푸터 */
.footer {
  background: #ccc 
  linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}
.footer-inner{
  background: silver;
  height: 15vh;
}