@import url(./fonts.css);
@import url(./fontello.css);
@import url(./normalize.css);
@import url(./reset.css);
@import url(./module.css);

/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  
}

/* 기본 스타일 */
*, *::before, *::after {       /* 전체 선택자 */
  box-sizing: border-box;  /* width(padding+border) + margin = border-box */
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;  /* 커서만 남겨놓고 밑줄 같은거 없앰 */
}


/* 본문 스타일 */
body {
  /* 단위) em - 상속받은 값을 기준으로 계산 */
  /* rem-상속을 따지지 않고 루트인 html(루트)에 가서 연산 시작 */
  color: #212121;
  font-size: 1.4rem; 
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* background-color: #ccc;
  background-image: url(./images/bg_flower.png),
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0; */

  /* 위 내용을 단축 표기법으로 */
  background: url(./images/bg_flower.png) no-repeat 50% 0,
   #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%) repeat 0 0;
}

/* 레이아웃 */
.header, .visual, main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  /* margin은 투명한 영역이라 상자가 이동한게 아니라 커진거임 */
  /* margin 좌우 auto하면 가운데 정렬 */
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  /* 밑에 깔린거를 올리기 위해 다 0 값이니까 0보다 큰 숫자 아무거나 줌 */
  z-index: 10;  
}


/* 텍스트 링크 모음 */
.member {
  /* background-color: aqua; */
  text-align: right;
  padding: 4px 0;
  /* posision 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기 */
  /* position: relative;
  right: -10px; */

  /* transform 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동하기 */
  transform: translateX(10px);
}

.member li{
  /* background: pink; */
  display: inline-block;
}

.member a{
  /* background-color: coral; */
  padding: 6px 10px;  /* 클릭 시 실수 방지 위해 패딩 줌 */
  display: inherit;
  text-transform: uppercase;
}

/* 마지막 li 요소에 포함된 a 요소를 선택하여 오른쪽 padding 값을 0으로 재정의 하는 방법 */
/* .member li:last-child a{
  padding-right: 0;
} */

.divider{
  margin-right: 4px;
}

/* 메인 메뉴 */
.navigation{
  padding-bottom: 40px;
}

.menu {
  border-top: 2px solid #212121;
  background: #e85e2c
  linear-gradient(
    to bottom,
    #ef9126 0%,
    #e85e2c 35%,
    #e85e2c 70%,
    #ef9126 100%
  );
  border-radius: 0 0 5px 5px;
  padding-left: 230px;
  height: 47px;
  position: relative;
}

.menu > li:nth-child(-n + 3){
  position: relative;
}

.menu-item{
  /* position: relative; */
  float: left;
  border-left: 2px solid #fff;
}

/* 구체성 점수 = 10점 */
.menu-button {
  border: 0;
  background: transparent;
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/* 구체성 점수 = 20점 */
.is-active .menu-button {
  color: #ff0;
}
.is-active .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}

.sub-menu {
  position: absolute;
  top: 47px;
  padding: 4px 0;
  display: none;
}

.sub-menu a::before{
  content: '\e805';
  font-family: 'fontello';
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before, .sub-menu a:focus::before{
  content: '\e801';
}

.sub-menu a:hover, .sub-menu a:focus{
  color: #f00;
}

.sub-menu a{
  display: inline-block;
  padding: 6px 0px;
}


.menu-html, .menu-css, .menu-standards{
  left: 0;
}

.menu-accessibility, .menu-qna, .menu-archive{
  right: 0;
}

.is-active .sub-menu {
  display: block;
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
}


/* 비주얼 */
/* @ - at sign rule 사용할거라고 선언하는거 */
@keyframes moveEffect{
  0%{
    font-size: 12px;
    /* color: rgba(0, 0, 0, 0.2); */
    color: hsla(0, 0%, 0%, 0);
    transform: translate(0, 0);
  }
  100%{
    font-size: 24px;
    /* color: rgba(0, 0, 0, 1); */
    color: hsla(0, 0%, 0%, 1);
    transform: translate(400px, 75px);
  }
}

@keyframes fadeEffect {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
  
}

.visual {
  height: 120px;
  position: relative;
  /* overflow: hidden;  나중에 화면 밖에 장식을 하고 싶을 때 문제 가능성 내포함*/ 
}

.visual::before, .visual::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: #fff; */
  animation: fadeEffect 2s infinite alternate;
  /* animation-iteration-count: infinite;
  animation-direction: alternate; */
}

.visual::before{
  background: url(./images/ani_flower_01.png) no-repeat 0 -10px,
  url(./images/ani_flower_02.png) no-repeat  600px 0px;
}


.visual::after{
  background: url(./images/ani_flower_03.png) no-repeat 300px 0px,
  url(./images/ani_flower_04.png) no-repeat  800px 0px;
  animation-delay: 1000ms;
}

.visual-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* animation-name: moveEffect;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; */
  animation: moveEffect 400ms ease-in-out forwards;
  display: inline-block;
  position: relative; /* inline-block 말고 이렇게 해도 됨 */
  z-index: 1;
}

/* 메인 */
.main {
  background: #fff;
  min-height: 450px;
  display: flow-root;
  /* overflow: hidden; */
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
}

/* legend {display: false;} */

.group{
  margin: 0 15px;
  float: left;
}

.group1{
  /* background: violet; */
  width: 250px;
  /* border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  width: 250px;
  height: 150px; */
} 

/* legend 안보이게 설정. 이렇게하면 접근성을 준수하면서 디자인을 해치지 않습니다. */
/* legend {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
} */


.group2{
  width: 380px;
}

.group3{
  width: 190px;
}

/* 로그인 */
.login {
  box-shadow: 5px 5px 0 0 #ccc;
  background: #ed552f radial-gradient(circle at right top, #e8852e, #ed552f);
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  height: 150px;
}

.login-title{
  color: #ff0;
  font-size: 15px;
  font-weight: 700;
  text-indent: 10px;  
}

.login-form {
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-form label {
  display: inline-block;
  /* 4글자만큼 width */
  width: 4em;
}

.login-form input {
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
  border-radius: 3px;
}



.login-form fieldset{
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}

.user-email, .user-pw {
  display: inline-block;
  margin-bottom: 5px;
}

.login-button {
  background-color: #ed552f;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  font-size: 13px;
  border: 0;
  border-radius: 5px;
  padding: 0 8px;
}

.sign {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 4px 10px;
  font-size: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.sign a {
  display: block;
  padding: 5px 0;
  letter-spacing: -1px;
}

.sign a::before {
  content: '\e804';
  color: #ed552f;
  font-family: 'fontello';
  margin-right: 8px;
}


/* 유효성 검사 배너 */
.validation-list {
  /* background-color: yellow; */
  margin-top: 25px;
}

.validation-list li {
  margin-top: 10px;
}

.validation-list a{
  display: block;
  background: url(./images/validation_icon.png) no-repeat 20px 50%,
   #ccc linear-gradient(to bottom, #ccc, #eee);
  line-height: 36px;
  /* padding: 8px 15px; */
  padding-left: 40px;
  border-radius: 30px;
  border: 1px solid #aaa;
}

.validation-list a:hover,
.validation-list a:focus {
  color: red;
}


/* 웹 관련 용어 */
.term {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
}

.term-title {
  font-size: 15px;  /* 1.5rem 과 같음(루트가 10px이니까) */
  font-weight: 700;
}

.term-list {
  margin-top: 10px;
}

.term-list div {
  margin-top: 10px;
  display: flow-root;
}

.term-list-subject, .term-list-brief {
  float: right;
  width: 145px;
}

.term-list-subject {
  color: #296897;
  font-weight: 500;
}

.term-list-thumbnail {
  float: left;
}

.term-list-brief {
  margin-top: 5px;
  line-height: 1.5;
}

/* 이미지 하단에 보이는 여백을 줄이기 위해 */
.term-list-thumbnail img {
  /* display: block;  이렇게 해도 되는데 나중에 배치 어려울 수 있음 */
  vertical-align: middle;
}

.cross .term-list-brief, 
.cross .term-list-subject {
  float: left;
}

.cross .term-list-thumbnail{
  float: right;
}

/* 검색 폼 */
.search-form {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 15px 15px 0 0;  
  padding: 15px 25px 10px;
}

.search-form-inner {
  display: flex;
  flex-flow: row nowrap;
}

.form-group {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.form-group-label{
  /* 줄 넘어감 방지 하는거 밑에 두가지 방법 다 가능 */
  /* white-space: nowrap; */
  flex-shrink: 0;  /* 축소, 크기가 부족하면 축소할거야~ */
}

.form-group-input {
  flex-grow: 1;
  /* 브라우저 별로 width 다른걸 해결하기 위해 width 100%*/
  width: 100%;
  margin-left: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 24px;
  padding: 1px 1px 1px 5px;
}

.search-button {
  flex-shrink: 1;
  background-color: black;
  color: white;
  height: 24px;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 1.2rem;
}


/* 공지사항 및 자료실 */
.board {
  margin-top: 20px;
  position: relative;
}

.tab-panel {
  display: none;
  margin-top: 15px;
}

/* 사이를 띄우면 is-select안에 있는 tab-panel이 됨. */
/*  그래서 붙여서 is-select도 있고 tab-panel도 가지고 있는 경우를 선택 (AND 조건) */
.is-select.tab-panel {
  display: block;
}

.tab-list {
  display: flex;
  flex-flow: row nowrap;
}

.tab {
  border: 1px solid #aaa;
  background-color: #ccc;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  color: #666;
}

.is-select.tab {
  background: white;
  color: #ed552f;
  border-style: solid;
  border-color: #ed552f currentColor #fff currentColor;
}

.board-list li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}


.board-list a{
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.board-list time{
  flex-shrink: 0;
  margin-left: 10px;

}

.board-more {
  position: absolute;
  right: -8px;
  top: -8px;
  padding: 8px;
}

.icon-plus::before {
  color: hsla(110, 50%, 30%, 1);
}


/* 새소식 */
.news {
  margin-top: 20px;
  position: relative;
}

.news::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 80%;
  height: 1px;
  background: #aaa linear-gradient(to right, #ccc, #fff);
}

.news-title {
  /* color: #ed552f; */
  font-size: 15px;
  font-weight: 700;
}

.news-link {
  display: block;
}

.news-item {
  margin-top: 35px;
  padding-left: 130px;
  position: relative;
}

.news-item-title {
  font-weight: 500;
}

.news-item-date {
  display: block;
  margin: 5px 0 10px;
}

.news-item-brief {
  line-height: 1.5;
}

.news-item-thumbnail {
  position: absolute;
  top: 2px;
  left: 0;
  text-align: center;
}

.news-item-thumbnail img {
  box-shadow: 0 15px 10px 5px #ccc;
  margin-bottom: 20px;
}

.news-more {
  position: absolute;
  right: -8px;
  top: -8px;
  padding: 8px;
}


/* 신규이벤트 및 관련 사이트 */

.event {
  border-bottom: 1px solid #aaa;
  position: relative;
}

/* position 말고 이 방법도 가능 */
/* .event-title {
  display: inline-block;
} */


.event-button-wrapper {
  height: 20px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* flex 아이템끼리 5px떨어지게함 - 근데 ie에서 지원안함 */
  gap: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

/* IR 기법 - 텍스트 안보이게 하고 배경이미지가 보이게 */
.event-button {
  width: 19px;
  height: 18px;
  border: 0;
  padding: 18px 0 0 0;
  background: url(./images/back_forward.png) no-repeat;
}

.event-button:focus {
  outline-offset: -2px;
}

.event-button-prev {
  background-position: 0 0;
}

.event-button-next {
  background-position: -36px 0;
}


.event-thumbnail, .event-brief {
  margin: 10px 0;  /* 등간격으로 떨어짐 */
}

.event-thumbnail img {
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #ccc;
}

.event-brief {
  line-height: 1.5;
}

.related {
  margin-top: 10px;
}

.related-list {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: 10px;
  height: 27px;
  overflow: hidden;
  padding: 0 0 0 25px;
  line-height: 1.8;
  transition: height 400ms 0ms, padding 400ms 400ms;
}

.related-list:hover, .related-list.focus {
  height: 147px;
  padding: 10px 0 0 25px;
}


/* 인기 사이트 */

.favorite {
  position: relative;
}

.favorite-list {
  /* background-color: yellow; */
  list-style: none;
  counter-reset: var-count 10;
}

.favorite-list li {
  margin-top: 10px;
  counter-increment: var-count;  /* 변수명 쓰고 싶은거 씀 */
  display: flex;
  align-items: center;
}

.favorite-list li::before {
  content: counter(var-count);
  background-color: #aaa;
  color: white;
  font-size: 1.2rem;
  margin-right: 5px;
  border-radius: 3px;
  display: inline-block;
  width: 1.5em;
  text-align: center;
  line-height: 1.5;
}

.up, .stop, .down {
  display: inline-block;
  margin-left: auto;
  width: 20px;
  height: 11px;
  background: url(./images/rank.png) no-repeat;
}


.stop {
  background-position: 0 48%;
}

.down {
  background-position: 0 100%;
}


.favorite-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}



/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
  clear: both;
  /* margin-top: 10px; */
}
/* 푸터 */
.footer {
  background: #ccc 
  linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}
.footer-inner{
  background: silver;
  height: 15vh;
}